.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}

.footer__column-link:first-of-type {
  margin-top: 20px;
}

.footer__column-link:last-of-type {
  margin-bottom: 16px;
}
